@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply leading-6 font-normal text-gray-700 bg-white font-sans;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
}

App {
  width: 100vw;
}

h1 {
  @apply text-5xl;
}
